@page "/"
@namespace ElTemps.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ca-ES">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ElTemps</title>
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="ElTemps.styles.css" rel="stylesheet" />
</head>

<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Hi ha hagut un error. L'aplicació ja no respón.
            Pot ser que no respongui més fins que es recarregui la pàgina
        </environment>
        <environment include="Development">
            Hi ha hagut un error no control·lat. Mira les eines del navegador per tenir més detalls.
        </environment>
        <a href="" class="reload">Recarregar</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>

</html>
