@page "/previsio/{Poble}"

@using ElTemps.Data
@inject PrevisioService PrevisioService

<h1>Previsió</h1>

<p>Previsió del dia.</p>

@if (previsions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @{
                int i = 0;
            }
            @foreach (var previsio in previsions)
            {
                <tr>
                    <td>@Dies[i]</td>
                    <td>@Poble</td>
                    <td>@previsio.Imatge</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public string Poble { get; set; }
    private string[] Dies = new string[5] { "Dilluns", "Dimarts", "Dimecres", "Dijous", "Divendres" };
    private Previsio[] previsions;

    protected override async Task OnInitializedAsync()
    {
        previsions = await PrevisioService.GetPrevisioSetmana(Poble);
    }
}
