@page "/"
@attribute [Authorize]

@using ElTemps.Data
@inject PrevisioService PrevisioService
@inject NavigationManager NavigationManager
<h1>Pobles</h1>

<p>Tria el poble del que vols veure la previsió.</p>

@if (Pobles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8
    rounded shadow leading-tight focus:outline-none focus:shadow-outline" @bind="@Poble">
    <option value="">Tria el poble ...</option>
    @foreach (var poble in Pobles)
        {
            <option value="@poble">@poble</option>
        }
    </select>
}

@code {
    private string[] Pobles;
    private string poble;

    string Poble
    {
        get => poble;
        set
        {
            poble = value;
            NavigationManager.NavigateTo("/previsio/" + poble, false);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Pobles = await PrevisioService.GetPobles();
    }
}
