<header>
    <nav class="bg-black dark:bg-gray-100 shadow">
        <div class="container mx-auto px-6 py-3 md:flex md:justify-between md:items-center">
            <div class="flex justify-between items-center">
                <div>
                    <a class="text-gray-100 dark:text-white text-xl font-bold md:text-2xl hover:text-gray-700 dark:hover:text-gray-300"
                        href="/">Previsió del temps al Bonyetès</a>
                </div>
            </div>

            <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
            <div class="md:flex items-center">

                <div class="flex justify-center md:block">
                    <LoginDisplay />
                </div>
            </div>
        </div>
    </nav>
</header>