@page "/previsio/{Poble}"

@using ElTemps.Data
@inject PrevisioService PrevisioService

@if (previsions == null)
{
    <p><em>Loading...</em></p>
}
else
{
<section class="text-gray-600 body-font">
  <div class="container px-5 py-1 mx-auto">
      <h1 class="sm:text-3xl text-2xl font-bold title-font text-center text-gray-900 mb-5">Previsió metereològica per:
      <br class="hidden sm:block"><span id="poble">@Poble</span>
    </h1>
    <div class="flex flex-wrap -m-4">
@{
     int i = 0;
}
     @foreach (var previsio in previsions)
     {
                <PrevisioDia DiaPrevisio="@previsio"/>
                i++;
    }

    </div>
  </div>
</section>
}


